</div>

<footer class="footer">
	<div class="container">

		<div class="footer-top-line">
			<div class="logo"><a href="index.html"><img src="img/logo-w.png" alt="Amazing"></a></div>
			<div class="footer-top-line-contact">
				<span>Hotline Amazing Alliance:</span>
				<a href="#" class="phone">+1 345 356-54-34;</a>
				<a href="#">info@amazingalliance.io</a>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-5 col-md-5 col-12">
				<div class="copyright">Copyright © 2018 Amazing Alliance. All rights reserved</div>
			</div>
			<div class="col-lg-3 col-md-3 col-12">
				<div class="footer-social">
					<a href="#"><i class="zmdi zmdi-facebook"></i></a>
					<a href="#"><i class="zmdi zmdi-youtube-play"></i></a>
					<a href="#"><i class="zmdi zmdi-twitter"></i></a>
					<a href="#"><i class="lp-icon lp-telegram"></i></a>
					<a href="#"><i class="zmdi zmdi-reddit"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="footer-other-icon">
					<a href="#"><i class="lp-icon lp-other-1"></i></a>
					<a href="#"><i class="lp-icon lp-other-2"></i></a>
					<a href="#"><i class="lp-icon lp-other-3"></i></a>
					<a href="#"><i class="lp-icon lp-other-4"></i></a>
					<a href="#"><i class="lp-icon lp-other-5"></i></a>
				</div>
			</div>

			<div class="col-12 d-flex">
				<div class="footer-nav">
					<nav>
						<ul>
							<li><a href="#">Customer agreement</a></li>
							<li><a href="#">Privacy policy</a></li>
							<li><a href="#">Financial responsibility</a></li>
						</ul>
					</nav>
				</div>
				<div class="footer-txt">It does not call you to trade in financial markets, and the advertising material posted on this site is for informational purposes only. When making a decision on investing, remember that any successful trading systems may give good profits in the past, but they do not give you a 100% guarantee that such results will repeat in the future, since financial markets are difficult to predict.</div>
			</div>

			<div class="col-lg-10 col-md-10 col-12">
				
			</div>

		</div>


	</div>
</footer>

<script src="js/scripts.min.js"></script>
</body>
</html>