<!DOCTYPE html>
<html lang="ru">
<head>

    <title>Amazing</title>

    <meta charset="utf-8">
    <!-- <base href="/"> -->
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
    <meta name="theme-color" content="#000">

    <link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<div class="container">
		<header class="header">
				<div class="logo"><a href="index.html"><img src="img/logo.png" alt="Amazing"></a></div>
				<div class="main-menu">
					<nav>
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="investments.html">Investments</a></li>
							<li><a href="referal-program.html">Referral program</a></li>
							<li><a href="roadmap.html">Road map</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contacts.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
				<div class="google-play">
					<a href="#"><img src="img/google-play.png" alt="Amazing"></a>
				</div>
				<div class="lang-mnu">
					<ul>
						<li>
							<span>RU</span>
							<ul>
								<li>Vi<a href="#"><span>Soon</span></a></li>
								<li>Es<a href="#"><span>Soon</span></a></li>
								<li>Ja<a href="#"><span>Soon</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="user-account-btn">
					<a href="#" class="registration">SIGN UP</a>
					<a href="#" class="login btn small">LOG IN</a>
				</div>
			</header>
	</div>

	<div class="main-wrapper">